[Desktop Entry]
Name=openbsd-cwm
Comment=Lightweight window manager for X11
Exec=openbsd-cwm
Terminal=False
TryExec=openbsd-cwm
Type=Application
Keywords=wm;windowmanager;window;manager;cwm;
